NODE_ENV=development
PORT=3200
HOST=127.0.0.1

# Front
PUBLIC_WEB_ORIGIN=https://www.teacherkessialima.com.br
EXTRA_CORS_ORIGINS=http://localhost:8080

# Domínio de e-mail que identifica professora (qualquer outro e-mail é tratado como aluno)
TEACHER_EMAIL_DOMAIN=teacherkessialima.com.br
